<h4 class="text-center mt-2">About Workshop</h4>
<div class="container-sm text-left col-6">
  Prepared by...
  <div class="container text-center mt-2 mb-4">
    <%= avatar_for_name('David Peloso', size:('200x200')) %>
  </div>
  He is the future founder of: <span class="fst-italic">&copy;Some Guy&trade;</span>
    <span class="fw-normal"> S/W Productions</span>
</div>

