<div class="col-lg-12">

  <%= render 'seminars/seminar', seminars: @upcoming_seminars,
                                 section_title: 'Upcoming Seminars'  %>

  <%= render 'seminars/seminar', seminars: @past_seminars,
                                 section_title: 'Past Seminars'  %>

</div>

